$dark-grey: #0B0F0A;
$light-white: #e9eaec;
$grey: #515563;
$black: #000;
$bright-green: #B8E5B5;
$light-green: #E7EEE7;
$font-black: #0b0f0a;
$secondary_b_t_1: #020203;
$hovered_default_button: #737373;
$secondary_b_c_1: #d0dbbd;
$disabled_button_label: #787878;