@import "fonts";
@import "colors";
@import "variables";
@import "../core/media";
@import "../common/buttons";

html {
  overflow-x: hidden;
}

body {
  padding: 0;
    margin: 0 auto;
    .container {
        max-width: 1440px;
        margin: auto;
    }
}

