
.main {
    height: 46px;
    padding: 12px 0;
    width: 100%;
    background: $dark-grey;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: $light-white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
    border: none;
}

.google {
    display: flex;
    align-items: center;
    justify-content: center;
}
.forgot {
    font-size: 14px;
    line-height: 20px;
    color: $grey;
    background: transparent;
    border: none;
    display: block;
    cursor: pointer;
}
.log-in {
    margin: 74px auto 16px;
    width: 100%;
    height: 46px;
}
.sign-up {
    font-size: 13px;
    line-height: 20px;
    text-align: right;
    color: $grey;
    text-decoration: underline;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
}
