.account {
  &--block {
    .loader {
      border: 3px solid #f3f3f3; 
      border-top: 3px solid #3498db; 
      border-radius: 50%;
      width: 15px;
      height: 15px;
      animation: spin 2s linear infinite;
      margin-left: 5px;
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    &-form {
      h1 {
        font-family: var(--font-inter);
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 36px;
        color: $dark-grey;
        text-align: left;
        margin: 0;
      }
      h2 {
        font-family: var(--font-inter);
        color: #757b74;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        margin: 16px 0 0;
        span {
          font-family: var(--font-inter);
          color: #79a276;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
        }
      }
      label {
        display: flex;
        font-family: var(--font-inter);
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: $dark-grey;
        margin-bottom: 8px;
      }
      input {
        width: 352px;
        padding: 14px 16px;
        background: transparent;
        border-radius: 8px;
        border: 1px solid #8a8a8a;
        outline: transparent;
        position: relative;
        &::placeholder {
          font-family: var(--font-inter);
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #757b74;
        }
        &.error {
          border: 1px solid red;
        }
      }
      .form-group {
        position: relative;
        margin-top: 16px;
        .block {
          display: flex;
          justify-content: space-between;
        }
        span {
          display: none;
        }
        &.error {
          span {
            display: block;
            color: red;
            font-family: var(--font-inter);
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
          }
          input {
            border: 1px solid red;
          }
        }
      }

      .password-toggle {
        background: url("../assets/img/Visible.svg");
        display: block;
        position: absolute;
        top: 42px;
        right: 15px;
        width: 16px;
        height: 16px;
        border: none;
        .password-show {
          border-top: 1px solid black;
          width: 16px;
          transform: rotate(45deg);
          display: block;
          margin-top: 7px;
        }
      }
      .select-container {
        position: relative;
        margin: 0 auto;
        width: 100%;
        .select {
          font-family: var(--font-inter);
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: rgba(62, 69, 82, 0.5);
          position: relative;
          padding: 11px 0 11px 12px;
          background: $light-white;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
          border-radius: 4px;
          margin-top: 6px;
          text-align: left;
          &#text {
            padding-left: 12px;
          }
          .button {
            width: 338px;
            padding-left: 12px;
          }
          input {
            margin-top: 0;
            cursor: pointer;
          }
          .selectlist {
            width: 100%;
            div {
              padding: 11px 12px;
              border-top: 1px solid $grey;
              &:first-child {
                border: none;
              }
              &:last-child {
                padding: 11px 12px 0;
              }
            }
          }
        }
        .select::after {
          position: absolute;
          top: 16px;
          right: 16px;
          content: "";
          width: 10px;
          height: 6px;
          display: inline-block;
          cursor: pointer;
          background: url("../assets/img/arrow-bottom.svg");
        }
        .option-container {
          position: relative;
          background: $light-white;
          width: 100%;
          height: 0;
          overflow-y: auto;
          transition: 0.4s;
          .option {
            position: relative;
            padding-left: 12px;
            height: 38px;
            border-top: 1px solid rgba(0, 0, 0, 0.3);
            cursor: pointer;
            display: flex;
            align-items: center;
            transition: 0.2s;
          }
        }
      }

      .select-container.active .select::after {
        transform: rotate(180deg);
      }

      .select-container.active .option-container {
        height: max-content;
      }

      p {
        font-family: var(--font-inter);
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: right;
        color: #757b74;
        text-align: left;
        margin: 8px 0 0;
      }
      a.green {
        color: #79a276;
        font-family: var(--font-inter);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        text-decoration: none;
        margin-left: 3px;
      }
    }
  }
}
// @media (min-width: 376px) and (max-width: 1152px) {
//   .account {
//     &--logo {
//       display: none;
//       &-mobile {
//         display: block;
//         margin: 0 auto;
//         padding-top: 32px;
//         width: 164px;
//         height: 36px;
//       }
//     }
//     &--block {
//       &-form {
//         h1 {
//           padding-top: 69px;
//           &.login {
//             padding-top: 141px;
//           }
//         }
//       }
//     }
//   }
// }
// @media (max-width: 375px) {
//   .account {
//     &--bg {
//       width: 100%;
//       min-height: 668px;
//       height: 100%;
//     }
//     &--logo {
//       display: none;
//       &-mobile {
//         display: block;
//         top: 16px;
//         left: 12px;
//         position: absolute;
//         height: 36px;
//         width: 164px;
//       }
//     }
//     &--block {
//       width: 100%;
//       padding: 0 13px;
//       &-form {
//         h1 {
//           font-size: 32px;
//           line-height: 39px;
//           margin: 0 0 16px 0;
//           padding-top: 76px;
//           text-align: left;
//           &.login {
//             padding-top: 76px;
//           }
//         }
//         button.forgot {
//           font-size: 12px;
//           line-height: 18px;
//         }
//         button.main {
//           font-size: 12px;
//           line-height: 15px;
//           width: 351px;
//           margin: 0;
//           height: 38px;
//         }
//         h2 {
//           margin: 16px auto;
//           justify-content: flex-start;
//         }
//         label {
//           font-size: 12px;
//           line-height: 15px;
//           input {
//             width: 338px;
//             padding: 8.5px 0px 8.5px 12px;
//             background: $light-white;
//             border-radius: 4px;
//             border: none;
//             margin-top: 6px;
//           }
//           input::placeholder {
//             font-size: 12px;
//             line-height: 15px;
//           }
//           .select-container {
//             .select {
//               height: 32px;
//               width: 338px;
//             }
//             .select::after {
//               top: 13px;
//               right: 0px;
//             }
//             .option-container {
//               width: 350px;
//             }
//           }
//         }
//         button.log-in {
//           margin: 192px 0 16px;
//           width: 350px;
//           height: 38px;
//         }
//         p {
//           color: $light-white;
//           text-align: center;
//           margin-left: -13px;
//           padding-bottom: 24px;
//           &.login--distance {
//             padding-bottom: 24px;
//           }
//         }
//       }
//     }
//   }
// }
